body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 60px;
}

@media screen and (max-width: 768px) {
}
.products {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 20px;
  flex-wrap: wrap;
}

/* Estilos de los bloques de productos */
.bloque {
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bloque img {
  margin-bottom: 10px;
}

.bloque h4 {
  color: #333;
  font-size: 20px;
}

.bloque p {
  color: #666;
}


.compus {
  text-align: center;
}

h2 {
  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-weight: 700;
  letter-spacing: -1;
}

ul li{
  list-style: none;
}

.padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aa8d8d;
  padding: 5px;
  flex-wrap: nowrap;
  min-width: 250px;
  flex: 250px;
}

.imagen{
  
}

.left,
.right {
  text-align: center;
  width: 90%;
  margin: 0;
}

.left img,
.right img {
  display: block;
  margin: 0 auto;
  width: 90px;
}

hr {
  width: 2px;
  height: 50px;
  margin: 0;
  border: none;
  background-color: blue;
}

.h2 {
  background-color: #cac3c3;
  margin-top: 3em;
  text-align: center;
}

.boton{
  background-color: #755555;
}

.sidebar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0;
}

/* .sidebar { 
  background-color: #333;
  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
}
*/
.logo img {
  display: block;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

/* Cambiar color del texto a blanco */
li a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #dba5a5;
}

/* Estilos para los menús desplegables */
.submenu {
  display: none;
}

/* Estilos para el menú desplegable abierto */
.submenu.active {
  display: block;
}

/* Apartados*/
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.hero {
  text-align: center;
  padding: 20px;
  background-color: rgb(226, 64, 43);
}

.hero h1 {
  font-size: 36px;
  color: #1d1919;
}

.hero p {
  font-size: 18px;
  color: #b6a2a2;
}

/* Estilos de los bloques de productos */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centrar contenido horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 8em;
  border-color: rgb(58, 82, 92);
}

.product-info {
  text-align: center;
}

.product h2 {
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.product img {
  margin-top: 30px;
  height: 310px;
  width: 371px;
  text-align: center;
}

.product .product-price {
  font-size: 30px;
  color: #000;
  text-align: center;
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.red {
  color: red;
}

.center {
  text-align: center;
  align-items: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  display: block;
  margin: 0 auto;
}

.footer-icons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.footer-icons img {
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

h2{
  
}