* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white
}

body {
  font-family: Arial, sans-serif;
  padding-top: 80px;
  background-color: #141C29;
}

img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.carrito-item img{
  width: 80px;
  height: 80px;
}

header {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5%;
 height: 70px;
 top: 1px;
 position: fixed;
 width: 100%;

}

.logo img {
  height: 60px;
  width: 60px;
}

.compus {
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  margin-top: 3em;
  text-align: center;
}

.logo img {
  display: block;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

a{
  text-decoration: none;
}

a:hover{
  color: #c4acac;
}

.red{
  color: rgb(192, 27, 27);
}

/* Estilos para los menús desplegables */
ul{
  list-style: none;
}


h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 30px 0px;
}

.carrito{
  filter: invert(100%);
  width: 45px;
  height: auto;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedor>div {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: #2D4263;
  border-radius: 20px;
  display: grid;
}

.contenedor>div:hover {
  background-color: #11294d;
  scale: 1.05;
  transition: .3s;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15;
}

.informacion>p:first-child{
  font-size: 25px;
  font-weight: 300;
}

.informacion .precio{
  font-size: 20px;
  font-weight: 500;
}
.informacion .precio span{
  font-size: 17px;
  font-weight: 300;
}
.informacion button {
  background-color: #263143;
  width: 100px;
  height: 35;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}
.informacion button:hover {
  background-color: #2D4263;  
}

.scroll{
  background-color: aliceblue;
  box-shadow: .1rem .2rem .3rem #333;
}

.scroll img{
  filter: invert(15%);
}           
.scroll h1{
  color: #141C29;
}
.scroll a{
  color: #555;
}


/* carrito */

.carrito{
  border: 1px solid #333;
  width: 35%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: .3s;
}
.carrito .header-carrito{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.carrito .carrito-item{
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #666;
}
.carrito .carrito- img{
  margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
  display: inline-block;
  margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
  border: none;
  font-size: 18px;
  background: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
  }
  .carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
  }